body{
    padding: 20px;
}
#tooltip{
    /*height: 30px;
    width: 200px;
    /*background-color: rgba(228, 0, 0, 0.5);*/
    color: blue;
    font-size: large;
    position: absolute;
    pointer-events: none;
    border-radius: 3px;
    padding: 0px 0px 0px 7px;
}

