body{
    padding: 20px;
}
#tooltip{
    background-color: rgba(228, 0, 0, 0.5);
    color: white;
    font-size: large;
    position: absolute;
    pointer-events: none;
    border-radius: 3px;
    padding: 0px 0px 0px 7px;
}

